//Style definitions for the active cart that is to the left hand side

@import "/sprite/common/*.png"
@import "framework"

#active-cart-region
  position: absolute
  width: 35%
  height: 100%
  top: 0px
  left: -26.40625%
  z-index: 5
  background-color: #fff

#active-cart
  width: 100%
  height: 100%

//transparent object that is locked to the right side of the cart.  This is the clickable region which opens the cart
.activeCartDrawerBar
  position: absolute
  height: 100%
  right: 0px
  z-index: 5
  width: 8.723860589812%
  cursor: pointer

  .handle
    display: none
    position: relative
    top: 42.41667%
    left: 34.357142857143%
    width: 45.714285714286%
    height: 9.166666666667%
    background-color: rgb( 183, 179, 179 )
    border-radius: 5px


//main item "view" region
#active-cart-main-slider
  height: $main-slider-height-pct
  width: 80%
  position: relative
  // margin: 1% auto
  margin: -1.8% auto //minted

  .active-left-arrow
    position: absolute
    background: url( ../../images/sprite/common/left-arrow-black.png) no-repeat
    background-size: contain
    background-repeat: no-repeat
    width: $arrow-width
    height: $arrow-height
    top: $active-arrow-top-offset
    cursor: pointer

  .active-right-arrow
    position: absolute
    background: url( ../../images/sprite/common/right-arrow-black.png) no-repeat
    background-repeat: no-repeat
    background-size: contain
    width: $arrow-width
    height: $arrow-height
    top: $active-arrow-top-offset
    right: 0px
    cursor: pointer

  //carousel styles
  .active-slider-container-outer-wrap
    width: 100%
    height: 100%
    overflow: hidden
    margin-top: 10%

    .active-slider-container-inner-wrap
      width: 420%
      height: 100%

      .slide
        width: 23%
        height: 100%
        display: inline-block
        vertical-align: top
        margin-left: 5px

      .image-slide
        background-size: 95%
        background-repeat: no-repeat
        background-position: center

      .description-content
        padding: 0% 10%
        font-size: 1.4rem
        height: 100%

//item pricing and definition
#active-cart-info-and-actions
  // width: $main-slider-width-pct
  width: 67.30563%
  height: $info-and-actions-height
  // margin-left: $main-slider-left-offset
  // margin-top : $info-and-actions-top-offset
  // margin: 3% auto 0 auto minted build
  margin: 6% auto 0 auto //zerouv build
  overflow: visible

  .sizeSelector
    width: 100%
    display: inline-block
    list-style: none
    padding: 0px
    margin: percentage( 15 / 307 ) 0px
    font-family: avenir
    position: relative
    text-align: center

    li
      display: inline-block
      background: #fff
      color: #000
      cursor: pointer
      width: 16%
      margin-right: 5%
      font-size: 1.65rem
      border: 1px solid #A0A0A0

    li.selected
      background: #000
      color: #fff
      transition: background .25s ease-in-out, color .25s ease-in-out

    li:last-child
      margin-right: 0%

  .addButton
    font-family: brandon
    display: inline-block
    background: #000
    color: #fff
    cursor: pointer
    padding: 2%
    text-align: center
    font-size: 2.2rem
    cursor: pointer
    width: 100%
    font-weight: 700

.recommendText
  text-align: center
  color: #000
  font-size: 2.133rem
  letter-spacing: 0.4rem
  width: $main-slider-width-pct
  height: 4.8%
  margin-left: $main-slider-left-offset
  margin-top: 8.99412%
  display: none !important

  .line
    border-top: solid 1px #666

  .text
    position: relative
    top: -41%
    background: white
    width: 73%
    margin: auto

#recommended-cart-slider
  height: $recommended-slider-height-pct
  //background: rgba( 100, 100, 244, 0.4 )
  position: relative
  width: $main-slider-width-pct
  // margin-left: $main-slider-left-offset
  margin: 0 auto

  .recommended-left-arrow
    position: absolute
    background: url( ../../images/sprite/common/left-arrow-black.png ) no-repeat
    background-size: contain
    background-repeat: no-repeat
    width: $recommended-arrow-width
    height: $recommended-arrow-height
    top: $recommended-arrow-top-offset
    cursor: pointer

  .recommended-right-arrow
    position: absolute
    background: url( ../../images/sprite/common/right-arrow-black.png ) no-repeat
    background-size: contain
    background-repeat: no-repeat
    width: $recommended-arrow-width
    height: $recommended-arrow-height
    top: $recommended-arrow-top-offset
    right: 0px
    cursor: pointer

  //recommended slider styles
  .recommended-slider-container-outer-wrap
    width: 100%
    height: 100%
    overflow: hidden
    margin-left: 9%

    .recommended-slider-container-inner-wrap
      width: 300%
      height: 100%

      .slide
        width: 100%
        height: 100%
        display: inline-block
        vertical-align: top
        cursor: pointer

        .slide1
          margin: 0% 2.5%
          width: 24%
          height: 100%
          background-repeat: no-repeat
          background-position: center
          background-size: contain
          display: inline
          float: left

        .slide1:first-child
          margin-left: 0

        .slide1:last-child
          margin-right: 0

        .slide2
          // margin: 0% 13% 0% 7%
          width: 30%
          height: 100%
          background-repeat: no-repeat
          background-position: center
          background-size: contain
          display: inline
          float: left

        .slide3
          // margin: 0% 13% 0% 7%
          width: 10%
          height: 100%
          background-repeat: no-repeat
          background-position: center
          background-size: contain
          display: inline
          float: left

.unavailable
  opacity: 0.1 !important

.color-selector
  width: 59%
  margin: 0 auto
  height: 15%

.color-selector-item
  float: left
  display: inline-block
  width: 26%
  height: 100%
  margin: 0 5%
  border: 1px solid #000
  cursor: pointer

  &:first-child
    margin-left: 0

  &:last-child
    margin-right: 0

.sold-out
  position: absolute
  width: 100%
  font-size: 2.5em
  text-transform: uppercase
  color: black
  text-align: center
  margin: 0 auto
  top: -3px

.titleAndPrice
  font-size: 2rem
  letter-spacing: 0.275rem
  color: #000
  text-align: center
  margin-top: 10%

  .title
    max-width: 70%
    margin: 0 auto
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  .price
    font-weight: bold
    text-align: center
    font-style: italic

.option-selector-title
  text-align: center
  font-size: 1.4em

.other-option-selector
  width: 100%
  margin: 5px auto 5% auto
  padding: 0
  height: 12%

// // Minted Specific
// .variant-option-type
//   float: left
//   display: inline-block
//   width: 7.3%
//   height: 100%
//   margin: 0 1.5%
//   cursor: pointer

//   &:first-child
//     margin-left: 0

//   &:last-child
//     margin-right: 0


// .sizeSelector
//   width: 101% !important
//   margin: 1.88599% 0px 4.88599% 0px !important

//   li
//     font-size: 1.1em !important
//     width: 48% !important
//     margin-right: 3px !important
//     margin-top: 3px !important
//     overflow: hidden
//     text-overflow: ellipsis
//     white-space: nowrap
//     padding: 2%

//     &:nth-child(2n+1)
//       margin-left: 0 !important

//     &:nth-child(2n+2)
//       margin-right: 0 !important

// .other-option-selector
//   margin: 4% auto 8% auto

// // #recommended-cart-slider
// //   margin: 11% auto

// #active-cart-main-slider
//   margin: -5.8% auto //minted
