<div class="customization-panel">
  <div class="custom-panel-container">
    <div class="custom-panel-options">
      <div class='option-select-title options-color-title'>Colors</div>
      <ul class="color-selector"></ul>
      <div class='option-select-title options-sizes-title'>Sizes</div>
      <ul class='size-selector'></ul>
    </div>
  </div>
  <div class="customization-panel-btns">
    <div class='addButton'>ADD</div>
    <div class='view-cart-button'>CART</div>
  </div>
</div>

<div class="third-panel-checkout">
  <div class='checkout-cart-drawer-bar'>
    <div class='checkout-cart-handle'></div>
  </div>

  <ul class='cart-items'></ul>
  <a href="#" class='checkout-button'>CHECKOUT</a>

  <div class="showroom-checkout-text">
    <div class="showroom-checkout-text-bottom">SHOWROOM</div>
  </div>
</div>
