<div class='activeCartDrawerBar'>
  <div class='handle'></div>
</div>
<div id="active-cart-main-slider">
  <div class='active-left-arrow'></div>
  <div class='active-right-arrow'></div>
  <div class='active-slider-container-outer-wrap'>
    <div class='active-slider-container-inner-wrap'>
      <div class='slide image-slide'></div>
      <div class='slide description'>
        <table class='description-content'>
          <tr>
            <td class='description-content-td'></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="active-cart-info-and-actions">
  <div class='titleAndPrice'>
    <div id='title' class='title'>Hello</div>
    <div id='price' class='price'>$30</div>
  </div>
  <ul class='sizeSelector'>
  {{!-- TODO: This mucks up the CSS if spaced out on separate lines --}}
    <li data-value="XS" class='selected'>XS</li><li data-value="S">S</li><li data-value="M">M</li><li data-value="L">L</li><li data-value="XL">XL</li>
  </ul>
  <div class='addButton'>ADD</div>
</div>
<div class='recommendText'>
  <div class='line'></div>
  <div class='text'>RECOMMENDED</div>
</div>
<div id="recommended-cart-slider">
  <div class='recommended-left-arrow'></div>
  <div class='recommended-right-arrow'></div>
  <div class='recommended-slider-container-outer-wrap'>
    <div class='recommended-slider-container-inner-wrap'></div>
  </div>
</div>
