<div class='activeCartDrawerBar'>
  <div class='handle'></div>
</div>
<div id="active-cart-main-slider">
  <div class='active-left-arrow'></div>
  <div class='active-right-arrow'></div>
  <div class='active-slider-container-outer-wrap'>
    <div class='active-slider-container-inner-wrap'>
      {{!-- <div class='slide image-slide'></div> --}}
      <div class='slide description'>
        <table class='description-content'>
          <tr>
            <td class='description-content-td'></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class='titleAndPrice'>
  <div id='title' class='title'>Hello</div>
  <div class="artist-name"></div>
  <div id='price' class='price'>$30</div>
</div>
<div id="active-cart-info-and-actions">
  <div class="color-selector"></div>
  <ul class='sizeSelector'></ul>
  <div class="option-selector-title"></div>
  <ul class="other-option-selector"></ul>
  <div class='addButton'>ADD</div>
</div>
{{!-- <div class='recommendText'> --}}
  {{!-- <div class='line'></div> --}}
  {{!-- <div class='text'>RECOMMENDED</div> --}}
{{!-- </div> --}}
<div id="recommended-cart-slider">
  <div class='recommended-left-arrow'></div>
  <div class='recommended-right-arrow'></div>
  <div class='recommended-slider-container-outer-wrap'>
    <div class='recommended-slider-container-inner-wrap'></div>
  </div>
</div>
