<div class='activeCartDrawerBar'>
  <div class='active-cart-handle'></div>
</div>

<div id="active-cart-main-slider">
  <div class='active-left-arrow'></div>
  <div class='active-right-arrow'></div>
  <div class='active-slider-container-outer-wrap'>
    <div class='active-slider-container-inner-wrap'>
      <div class='active-item-slide description'>
        <div class='description-content'>
          <div class='description-content-block'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='titleAndPrice'>
  <div class="title-and-price-container">
    <div class='active-item-title'></div>
    <div class="artist-name"></div>
    <div class='active-item-price'></div>
  </div>
</div>

<ul class='size-selector'></ul>
<ul class="color-selector"></ul>
<div class="option-selector-title"></div>
<ul class="other-option-selector"></ul>

<div class='addButton'>ADD</div>

<div id="recommended-cart-slider">
  <div class='recommended-left-arrow'></div>
  <div class='recommended-right-arrow'></div>
  <div class='recommended-slider-container-outer-wrap'>
    <div class='recommended-slider-container-inner-wrap'></div>
  </div>
</div>
