<div class="showroom-share-panel">
  <div class='header'>SHARE</div>
  <input class='shareInput' readonly="true" value='' />
  <div class="close-share-panel">X</div>
</div>

<div class="showroom-embed-panel">
  <div class='header'>EMBED</div>
  <input class='shareTextArea' readonly="true" value='' />
  <div class="close-share-panel">X</div>
</div>
