<div class='header'>SHARE</div>
<input class='shareInput' readonly="true" value='' />
<div class='header'>EMBED</div>
<textarea readonly="true" class='shareTextArea'></textarea>
<ul class='embedSelector'>
  <li data-width='640' data-height='360' class='selected six40'>640</li>
  <li data-width='850' data-height='478' class='eight50'>850</li>
  <li data-width='1000' data-height='562' class='thousand'>1000</li>
  <li data-width='1280' data-height='720' class='twelve80'>1280</li>
</ul>
