<div id='player-poster-region'></div>
<div id='video-region'></div>
<div id='active-cart-region'></div>
<div id='checkout-cart-region'></div>
<div id='share-region'></div>
<div id="mask-region"></div>
<div class='play-button'></div>
<div class='replay-button'></div>
<div class='share-icn'></div>
<div class='fullscreen-icn'></div>
<table class='controlBarScrubber' cellpadding="0" cellspacing="0">
  <tr>
    <td class='timeline'><div class="scrubber"><p></p><div></div></div></td>
  </tr>
</table>
<div class='hotspot-container'></div>
