<li class='cartItem'>
  <div class='close'>X</div>
  <div class='cartItemImage'></div>
  <div class='cartItemDescription'>
    <div class='cartItemTitle'>Hi</div>
    <div class='cartItemPrice'>$50</div>
    <div class='itemSize'>S</div>
  </div>
  <div class='clear'></div>
</li>
