<div id='player-poster-region'></div>
<div id='video-region'></div>
<div id='active-cart-region'></div>
<div id='checkout-cart-region'></div>
<div id='share-region'></div>
<div id="mask-region"></div>
<div class='play-button'></div>
<div class='pause-button'></div>
<div class='replay-button'></div>

{{!-- SHARE ICON --}}

<div class="share-icon-path share-text">SHARE</div>
<svg version="1.1"
   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
   x="0px" y="0px" width="902px" height="768px" viewBox="-6.402 -4.92 902 768" class="share-icon-path share-icn"
   overflow="visible" enable-background="new -6.402 -4.92 902 768" xml:space="preserve">
<defs></defs>
<path fill="#FFFFFF" class="share-icon-path" d="M691.584,216.451c0-7.876,6.338-14.288,14.203-14.288h123.587c33.562,0,60.821,27.223,60.821,60.791V601.17
  c0,33.5-27.26,60.821-60.821,60.821h-26.103v81.892c0,5.784-3.459,11.003-8.764,13.193c-1.734,0.763-3.631,1.083-5.428,1.083
  c-3.766,0-7.371-1.452-10.066-4.16l-92.008-92.008H292.589c-33.451,0-60.772-27.321-60.772-60.821v-94.493
  c0-7.877,6.375-14.277,14.276-14.277c0,0,330.273,1.108,363.871,1.108c33.6,0,82.113-26.337,82.113-82.63
  C692.077,345.349,691.584,216.451,691.584,216.451z"/>
<path fill="#FFFFFF" class="share-icon-path" d="M101.09,555.929c-1.833,0-3.667-0.344-5.39-1.059c-5.354-2.215-8.837-7.384-8.837-13.168v-81.94H60.76
  C27.272,459.762,0,432.49,0,398.99V60.797C0,27.267,27.272,0,60.76,0h536.785c33.513,0,60.811,27.267,60.811,60.797V398.99
  c0,33.5-27.298,60.772-60.811,60.772H203.227l-92.045,92.032C108.462,554.527,104.783,555.929,101.09,555.929z M60.76,28.485
  c-17.735,0-32.282,14.504-32.282,32.312V398.99c0,17.82,14.547,32.244,32.282,32.244h40.33c7.901,0,14.252,6.425,14.252,14.313
  v61.745l71.885-71.85c2.659-2.707,6.314-4.209,10.055-4.209h400.263c17.809,0,32.282-14.424,32.282-32.244V60.797
  c0-17.808-14.474-32.312-32.282-32.312H60.76z"/>
<path fill="#FFFFFF" class="share-icon-path" d="M329.854,323.467c-47.825,0-86.691-38.866-86.691-86.697c0-47.782,38.866-86.697,86.691-86.697
  c47.801,0,86.691,38.915,86.691,86.697C416.546,284.602,377.655,323.467,329.854,323.467z M329.854,164.331
  c-39.973,0-72.477,32.558-72.477,72.439c0,40.01,32.503,72.532,72.477,72.532c39.961,0,72.439-32.521,72.439-72.532
  C402.294,196.889,369.816,164.331,329.854,164.331z"/>
<path fill="#FFFFFF" class="share-icon-path" d="M377.237,228.08h-38.639v-38.655c0-4.941-4.064-8.935-8.963-8.935c-4.923,0-9.037,3.994-9.037,8.935v38.655
  h-38.175c-4.96,0-8.935,4.111-8.935,8.984c0,4.966,3.975,9.016,8.935,9.016h38.175v38.116c0,4.972,4.114,8.972,9.037,8.972
  c4.898,0,8.963-4,8.963-8.972V246.08h38.639c4.948,0,8.886-4.05,8.886-9.016C386.123,232.191,382.185,228.08,377.237,228.08z"/>
</svg>

{{!-- EMBED ICON --}}
<div class="embed-icon-path embed-text">EMBED</div>
<svg version="1.1" class="embed-icon-path embed-icn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="983px" height="768px" viewBox="-6.744 -4.498 983 768" overflow="visible" enable-background="new -6.744 -4.498 983 768" xml:space="preserve"><defs></defs><path class="embed-icon-path" fill="#FFFFFF" d="M485.22,562.654c-4.911,0-12.28-0.771-19.183-4.665L19.656,309.28c-8.167-4.563-13.137-12.323-13.166-20.751  c-0.116-8.43,4.606-16.277,12.701-21L465.834,4.956C472.81,0.871,480.25,0,485.22,0c5.043,0,12.499,0.871,19.401,4.956  l446.686,262.573c8.109,4.723,12.818,12.629,12.761,21c-0.088,8.428-5.045,16.188-13.225,20.751L504.461,557.989  C497.544,561.884,490.19,562.654,485.22,562.654z"/><path class="embed-icon-path" fill="#FFFFFF" d="M485.22,660.851c-6.801,0-13.574-1.569-19.183-4.693L8.641,401.301c-8.138-4.521-11.044-14.824-6.481-22.89  c4.505-8.123,14.707-11.044,22.903-6.524l457.425,254.857c1.148,0.566,4.447,0.566,5.668-0.015l457.337-254.842  c8.08-4.52,18.398-1.599,22.904,6.524c4.505,8.066,1.569,18.37-6.511,22.89L504.461,656.157  C498.968,659.281,492.064,660.851,485.22,660.851z"/><path class="embed-icon-path" fill="#FFFFFF" d="M485.22,759.004c-6.801,0-13.574-1.512-19.183-4.637L8.641,499.541c-8.138-4.608-11.044-14.824-6.481-22.918  c4.505-8.153,14.707-11.104,22.903-6.511L482.488,724.91c1.148,0.596,4.447,0.596,5.668,0l457.337-254.798  c8.08-4.52,18.398-1.643,22.904,6.511c4.505,8.094,1.569,18.31-6.511,22.918L504.461,754.367  C498.968,757.492,492.064,759.004,485.22,759.004z"/></svg>

<div class='fullscreen-icn'></div>
<table class='controlBarScrubber' cellpadding="0" cellspacing="0">
  <tr>
    <td class='timeline'><div class="scrubber"><p></p><div></div></div></td>
  </tr>
</table>
<div class='hotspot-container'></div>
