<div class='header'>SHARE</div>
<input class='shareInput' readonly="true" value='' />
<div class='header'>EMBED</div>
<textarea readonly="true" class='shareTextArea'></textarea>
<ul class='embedSelector'><li data-width='640' data-height='360' class='selected six40'><span>640</span><p></p></li><li data-width='850' data-height='478' class='eight50'><span>850</span><p></p></li><li data-width='1000' data-height='562' class='thousand'><span>1000</span><p></p></li><li data-width='1280' data-height='720' class='twelve80'><span>1280</span><p></p></li></ul>
