<div class='checkout-cart-drawer-bar'>
  <div class='checkout-cart-handle'></div>
</div>

<ul class='cart-items'>
  {{!-- <li class='cart-item'>
    <div class='cart-item-image'></div>

    <div class="cart-item-left">
      <div class='cart-item-title'></div>
      <div class='cart-item-size'></div>
    </div>

    <div class="cart-item-right">
      <div class='cart-item-price-title'>PRICE</div>
      <div class='cart-remove-button'>X</div>
    </div>
  </li> --}}
</ul>
<a href="#" class='checkout-button'>CHECKOUT</a>
{{!-- <div class="showroom-checkout-logo"></div> --}}
<div class="showroom-checkout-text">
  <div class="showroom-checkout-text-top">Powered by</div>
  <div class="showroom-checkout-text-bottom">SHOWROOM</div>
</div>
