.common-sprite {
  background-image: url(/sprite/common-s1b69d7beb0.png);
  background-repeat: no-repeat;
}

#active-cart-region {
  position: absolute;
  width: 35%;
  height: 100%;
  top: 0px;
  left: -26.40625%;
  z-index: 5;
  background-color: #fff;
}

#active-cart {
  width: 100%;
  height: 100%;
}

.activeCartDrawerBar {
  position: absolute;
  height: 100%;
  right: 0px;
  z-index: 5;
  width: 8.72386%;
  cursor: pointer;
}

.active-cart-handle {
  display: none;
  position: relative;
  top: 42.41667%;
  left: 34.35714%;
  width: 45.71429%;
  height: 9.16667%;
  background-color: #b7b3b3;
  border-radius: 5px;
}

#active-cart-main-slider {
  height: 37.77778%;
  width: 80%;
  position: relative;
  margin: -1.8% auto;
}

.active-left-arrow {
  position: absolute;
  background: url(../../images/sprite/common/left-arrow-black.png) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  width: 3.90879%;
  height: 8.82353%;
  top: 46.32353%;
  cursor: pointer;
}

.active-right-arrow {
  position: absolute;
  background: url(../../images/sprite/common/right-arrow-black.png) no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  width: 3.90879%;
  height: 8.82353%;
  top: 46.32353%;
  right: 0px;
  cursor: pointer;
}

.active-slider-container-outer-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 10%;
}

.active-slider-container-inner-wrap {
  width: 420%;
  height: 100%;
}

.active-item-slide {
  width: 23%;
  height: 90%;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}

.active-item-image-slide {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.description-content {
  padding: 0% 10%;
  font-size: 1.4rem;
  height: 100%;
}

.description-content-block {
  text-align: justify;
}

#active-cart-info-and-actions {
  width: 67.30563%;
  height: 23.05556%;
  margin: 6% auto 0 auto;
  overflow: visible;
}

.size-selector {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 4.88599% 0 0 0;
  font-family: avenir;
  position: relative;
  text-align: center;
}
.size-selector li {
  display: inline-block;
  background: #fff;
  color: #000;
  cursor: pointer;
  width: 8%;
  height: 100%;
  margin-right: 5%;
  font-size: 2rem;
  border: 1px solid #A0A0A0;
  padding-top: 0.7%;
  font-weight: 700;
}
.size-selector li.selected {
  background: #000;
  color: #fff;
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
}
.size-selector li:last-child {
  margin-right: 0%;
}

.color-selector {
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 4.88599% 0 0 0;
}

.color-selector-item {
  margin-right: 5%;
  display: inline-block;
  color: transparent;
  width: 8%;
  height: 100%;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 2rem;
  padding-top: 0.7%;
}
.color-selector-item:first-child {
  margin-left: 0;
}
.color-selector-item:last-child {
  margin-right: 0;
}

.addButton {
  font-family: brandon;
  display: inline-block;
  background: #000;
  color: #fff;
  cursor: pointer;
  padding: 3%;
  text-align: center;
  font-size: 2.2rem;
  cursor: pointer;
  width: 100%;
  font-weight: 400;
  margin: 4.88599% 0 0 0;
  letter-spacing: 1px;
}

#recommended-cart-slider {
  height: 15.27778%;
  position: relative;
  width: 82.30563%;
  margin: 1% auto 0 auto;
}

.recommended-left-arrow {
  position: absolute;
  background: url(../../images/sprite/common/left-arrow-black.png) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  width: 3.90879%;
  height: 21.81818%;
  top: 40%;
  cursor: pointer;
}

.recommended-right-arrow {
  position: absolute;
  background: url(../../images/sprite/common/right-arrow-black.png) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  width: 3.90879%;
  height: 21.81818%;
  top: 40%;
  right: 0px;
  cursor: pointer;
}

.recommended-slider-container-outer-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 9%;
}

.recommended-slider-container-inner-wrap {
  width: 300%;
  height: 100%;
}

.recommended-item-slide {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.slide-inner-item {
  margin: 0% 2.5%;
  width: 24%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline;
  float: left;
}
.slide-inner-item:first-child {
  margin-left: 0;
}
.slide-inner-item:last-child {
  margin-right: 0;
}

.unavailable {
  opacity: 0.1 !important;
}

.sold-out {
  position: relative;
  width: 100%;
  font-size: 2.5em;
  text-transform: uppercase;
  color: black;
  text-align: center;
  margin: 0 auto;
  top: -3px;
  height: 23px;
}

.titleAndPrice {
  font-size: 2rem;
  letter-spacing: 0.275rem;
  color: #000;
  text-align: center;
  margin-top: 10%;
}
.titleAndPrice .title {
  max-width: 70%;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
}
.titleAndPrice .price {
  font-weight: bold;
  text-align: center;
  font-style: italic;
}

.option-selector-title {
  text-align: center;
  font-size: 1.4em;
}

.other-option-selector {
  width: 100%;
  margin: 5px auto 5% auto;
  padding: 0;
  height: 12%;
}

/*# sourceMappingURL=active_cart.css.map */
