.common-sprite {
  background: url(/sprite/common-se656861eff.png) no-repeat;
}

#active-cart-region {
  position: absolute;
  width: 35%;
  height: 100%;
  top: 0px;
  left: -26.40625%;
  z-index: 5;
  background-color: white;
}

#active-cart {
  width: 100%;
  height: 100%;
}

.activeCartDrawerBar {
  position: absolute;
  height: 100%;
  right: 0px;
  z-index: 5;
  width: 8.72386%;
  cursor: pointer;
}
.activeCartDrawerBar .handle {
  display: none;
  position: relative;
  top: 42.41667%;
  left: 34.35714%;
  width: 45.71429%;
  height: 9.16667%;
  background-color: #b7b3b3;
  border-radius: 5px;
}

#active-cart-main-slider {
  height: 37.77778%;
  width: 80%;
  position: relative;
  margin: 1.2% auto;
}
#active-cart-main-slider .active-left-arrow {
  position: absolute;
  background: url(../../images/sprite/common/left-arrow-black.png) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  width: 3.90879%;
  height: 8.82353%;
  top: 46.32353%;
  cursor: pointer;
}
#active-cart-main-slider .active-right-arrow {
  position: absolute;
  background: url(../../images/sprite/common/right-arrow-black.png) no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  width: 3.90879%;
  height: 8.82353%;
  top: 46.32353%;
  right: 0px;
  cursor: pointer;
}
#active-cart-main-slider .active-slider-container-outer-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 10%;
}
#active-cart-main-slider .active-slider-container-outer-wrap .active-slider-container-inner-wrap {
  width: 420%;
  height: 100%;
}
#active-cart-main-slider .active-slider-container-outer-wrap .active-slider-container-inner-wrap .slide {
  width: 24%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
}
#active-cart-main-slider .active-slider-container-outer-wrap .active-slider-container-inner-wrap .image-slide {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#active-cart-main-slider .active-slider-container-outer-wrap .active-slider-container-inner-wrap .description-content {
  padding: 0% 10%;
  font-size: 1.4rem;
  height: 100%;
}

#active-cart-info-and-actions {
  width: 67.30563%;
  height: 23.05556%;
  margin: 3% auto 0 auto;
  overflow: visible;
}
#active-cart-info-and-actions .sizeSelector {
  width: 100%;
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin: 4.88599% 0px;
  font-family: brandon;
  position: relative;
}
#active-cart-info-and-actions .sizeSelector li {
  display: inline;
  background: white;
  color: black;
  cursor: pointer;
  width: 16%;
  margin-right: 5%;
  font-size: 2.2rem;
  border: 1px solid #a0a0a0;
  text-align: center;
  float: left;
}
#active-cart-info-and-actions .sizeSelector li.selected {
  background: black;
  color: white;
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
}
#active-cart-info-and-actions .sizeSelector li:last-child {
  margin-right: 0%;
}
#active-cart-info-and-actions .addButton {
  font-family: brandon;
  display: inline-block;
  background: black;
  color: white;
  cursor: pointer;
  padding: 2%;
  text-align: center;
  font-size: 2.2rem;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
}

.recommendText {
  text-align: center;
  color: black;
  font-size: 2.133rem;
  letter-spacing: 0.4rem;
  width: 82.30563%;
  height: 4.8%;
  margin-left: 8.84718%;
  margin-top: 8.99412%;
  display: none !important;
}
.recommendText .line {
  border-top: solid 1px #666666;
}
.recommendText .text {
  position: relative;
  top: -41%;
  background: white;
  width: 73%;
  margin: auto;
}

#recommended-cart-slider {
  height: 15.27778%;
  position: relative;
  width: 82.30563%;
  margin: 0 auto;
}
#recommended-cart-slider .recommended-left-arrow {
  position: absolute;
  background: url(../../images/sprite/common/left-arrow-black.png) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  width: 3.90879%;
  height: 21.81818%;
  top: 40%;
  cursor: pointer;
}
#recommended-cart-slider .recommended-right-arrow {
  position: absolute;
  background: url(../../images/sprite/common/right-arrow-black.png) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  width: 3.90879%;
  height: 21.81818%;
  top: 40%;
  right: 0px;
  cursor: pointer;
}
#recommended-cart-slider .recommended-slider-container-outer-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 9%;
}
#recommended-cart-slider .recommended-slider-container-outer-wrap .recommended-slider-container-inner-wrap {
  width: 300%;
  height: 100%;
}
#recommended-cart-slider .recommended-slider-container-outer-wrap .recommended-slider-container-inner-wrap .slide {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
#recommended-cart-slider .recommended-slider-container-outer-wrap .recommended-slider-container-inner-wrap .slide .slide1 {
  margin: 0% 2.5%;
  width: 24%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline;
  float: left;
}
#recommended-cart-slider .recommended-slider-container-outer-wrap .recommended-slider-container-inner-wrap .slide .slide1:first-child {
  margin-left: 0;
}
#recommended-cart-slider .recommended-slider-container-outer-wrap .recommended-slider-container-inner-wrap .slide .slide1:last-child {
  margin-right: 0;
}
#recommended-cart-slider .recommended-slider-container-outer-wrap .recommended-slider-container-inner-wrap .slide .slide2 {
  width: 30%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline;
  float: left;
}
#recommended-cart-slider .recommended-slider-container-outer-wrap .recommended-slider-container-inner-wrap .slide .slide3 {
  width: 10%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline;
  float: left;
}

.unavailable {
  opacity: 0.1 !important;
}

.color-selector {
  width: 59%;
  margin: 0 auto;
  height: 15%;
}

.color-selector-item {
  float: left;
  display: inline-block;
  width: 26%;
  height: 100%;
  margin: 0 5%;
  border: 1px solid black;
  cursor: pointer;
}
.color-selector-item:first-child {
  margin-left: 0;
}
.color-selector-item:last-child {
  margin-right: 0;
}

.sold-out {
  position: absolute;
  width: 100%;
  font-size: 3em;
  color: black;
  text-align: center;
  margin: 0 auto;
  top: -3px;
}

.titleAndPrice {
  font-size: 2rem;
  letter-spacing: 0.275rem;
  color: black;
  text-align: center;
  margin-top: 5%;
}
.titleAndPrice .title {
  max-width: 70%;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.titleAndPrice .price {
  font-weight: bold;
  text-align: center;
  font-style: italic;
}
