* {
  box-sizing: border-box;
}

#share-region {
  font-family: brandon;
  position: absolute;
  width: 35%;
  height: 28.83333%;
  background-color: white;
  margin-left: 35.70312%;
  z-index: 5;
  border-radius: 0px 0px 3px 3px;
  top: -33%;
  placeholder-top: -30.83333%;
}

.share-menu {
  padding: 1.5045% 4.5045% 1.5045% 4.5045%;
}

.header {
  font-size: 2.2rem;
  color: black;
  text-align: center;
}

.shareInput,
.shareTextArea {
  width: 99.5%;
  padding: 1%;
  border: solid 1px black;
  font-family: avenir;
  font-size: 1.4rem;
}

.shareTextArea {
  resize: none;
  height: 3.3em;
}

.embedSelector {
  position: relative;
  display: inline-block;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 7px 0;
}
.embedSelector li {
  display: inline-block;
  background: white;
  color: black;
  cursor: pointer;
  opacity: 0.3;
  width: 22%;
  padding: 0.55% 1%;
  margin-right: 2%;
  text-align: center;
  font-size: 2.2rem;
  vertical-align: top;
  border: 1px solid #a0a0a0;
}
.embedSelector li p {
  float: right;
  border: solid 1px white;
  width: 20%;
  position: relative;
  margin: 0px;
}
.embedSelector li:last-child {
  margin-right: 0%;
}
.embedSelector .selected {
  opacity: 1;
}
.embedSelector .six40 p {
  right: 0px;
  border: solid 1px white;
  padding: 8% 0%;
  margin-top: 7%;
}
.embedSelector .eight50 p {
  right: 0px;
  border: solid 1px white;
  padding: 8.5% 2%;
  margin-top: 6.5%;
}
.embedSelector .thousand p {
  right: 0px;
  border: solid 1px white;
  padding: 10% 2%;
  margin-top: 4.5%;
}
.embedSelector .twelve80 p {
  right: 0px;
  border: solid 1px white;
  padding: 11% 4%;
  margin-top: 3%;
  margin-left: 5%;
}
