<div class='header'>
  Videos
  <a class='add'>Add</a>
</div>
<div class='body'>
  <ul class='video-list'>
  {{#each videos}}
  <li>
    <div id="hihi" class='editable'>{{name}}</div>
  </li>
  {{/each}}
  </ul>
</div>
