<div id='video-list-region' class='module'></div>
<!--<div id='product-list-region' class='module'></div>
<div id='tag-list-region' class='module'></div>
<div id='styling-region' class='module'></div>
<div id='player-region' class='module'></div>-->